<dom-module id="demo-emisor">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <h1>Emisor</h1>
   <button type="button" name="button" on-click="hacerLogin" >pinchame</button>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class DemoEmisor extends Polymer.Element {
     static get is() { return 'demo-emisor'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     hacerLogin(e){
       console.log('el emisor a pulsado en el botòn');
       this.dispatchEvent(new CustomEvent('loginok',{detail:{usuario:"Benito camelas",origen:"TechU", pais:"locombia"}}))
     }

   }
   window.customElements.define(DemoEmisor.is, DemoEmisor);
 </script>
</dom-module>
