<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h2 class="col-md-12">Login Usuario</h2>
   </div>
		 <label class="col-md-4 control-label">E-Mail Address</label>
		 	<div class="col-md-6">
				<input id="email" type="email" class="form-control" name="email" value="{{email::input}}">
	   		<!--input type="email"  class="form-control" placeholder="Email" value="{{email::input}}"-->
	 		</div>
		</div>
		<div class="form-group">
				<label class="col-md-4 control-label">Password</label>

				<div class="col-md-6">
   					<input type="password"  class="form-control" placeholder="Password" value="{{password::input}}">
				</div>
		</div>
		<div class="form-group">
				<div class="col-md-6 col-md-offset-4">
   					<button class="btn btn-lg btn-default" on-click="login">Login</button>
				</div>
		</div>
   <!-- $ por ser un atributo HTML en vez de un elemnto polymer
 <my-componente my-hidden = {{isLogged}}
 <span hidden$ =
 -->
   <span hidden$="{{!isLogged}}">Logado</span>

   <!--iron-ajax
     id="doLogin"
     url="http://localhost:3000/colapi/v1/login"
     content-type="application/json"
		 method="post"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError"-->
		 <iron-ajax
       id="doLogin"
			 content-type="application/json"
       method="POST"
       url="http://localhost:3000/colapi/v1/login"
       handle-as="json"
			 body="{'email':'xxx@gmail.com','password':'12'}"
       on-response="manageAJAXResponse"
			 on-error="showError">
		 </iron-ajax>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     login() {
       console.log("El usuario ha pulsado el botón.");
       //var loginData = '{         "email" : '+this.email+',         "password" : '+this.password   +'    }';
			 var loginData = {"email" : this.email,         "password" : this.password       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       //this.$.doLogin.body = JSON.stringify(loginData);
			 console.log(this.$.doLogin.body);
       // hacemos petición con los datos del formulario del iron-ajax
			 //this.$.doLogin.method="POST";
       this.$.doLogin.generateRequest();
       console.log("Petición enviada");
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
     //  this.isLogged = true;
     // redirigir
     window.location = "/user/" + data.detail.response.idUsuario;
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
