<dom-module id="demo-receptor">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <h2>Soy el receptor</h2>
   <h3>Origen: {{origenRecibido}}</h3>
   <h3>Usuario: {{usuarioRecibido}}</h3>
   <h3>Paìs: {{paisRecibido}}</h3>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class DemoReceptor extends Polymer.Element {
     static get is() { return 'demo-receptor'; }
     static get properties() {
       return {
         email: {
           origenRecibido: String
         }, usuarioRecibido: {
           type: String
         }, paisRecibido: {
           type: String
         }
       };
     }
     mostrarDatosRecibidos(data){
       console.log("Receptor: " + JSON.stringify(data));
       this.paisRecibido=data.pais;
       this.origenRecibido=data.origen;
       this.usuarioRecibido=data.usuario;
     }
   }
   window.customElements.define(DemoReceptor.is, DemoReceptor);
 </script>
</dom-module>
