<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="demo-padre">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <link rel="import" href="../src/demo-receptor/demo-receptor">
   <link rel="import" href="../src/demo-emisor/demo-emisor">
   <h1>Padre</h1>
   <demo-emisor id="emisor"></demo-emisor>
   <demo-receptor id="receptor"></demo-receptor>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class DemoPadre extends Polymer.Element {
     static get is() { return 'demo-padre'; }
     ready(){
       super.ready();
       this.$.emisor.addEventListener('loginok',e=>{this.procesarLogin(e)})
     }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     procesarLogin(e){
       console.log('yo soy tu padre' + e.detail);
       this.$.receptor.mostrarDatosRecibidos(e.detail);
     }

   }
   window.customElements.define(DemoPadre.is, DemoPadre);
 </script>
</dom-module>
