<dom-module id="navegacion-app">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <app-location route="{{ruta}}"></app-location>
   <app-route route="{{ruta}}" pattern="/bancaonline" data="{{datoruta}}" tail="{{subruta}}"></app-route>
   <app-route route="{{ruta}}" pattern="/" data="{{datoRuta}}" tail="{{subruta}}"></app-route>
   <!-- iron-pages selects the view based on the active route -->
   <h1>Prueba</h1>
   <div hidden$="{{logged}}">
     <banco-login id="loginEjemplo" on-logged="gestionarLogged"></banco-login>
   </div>
   <div hidden$="{{!logged}}">
     <mensaje-app prop1="Movimientos"></mensaje-app>
     <mensaje-app prop1="Saldos"></mensaje-app>
     <mensaje-app prop1="Cuentas"></mensaje-app>
   </div>
 </template>
