<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="component-dos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h1 class="col-md-12">Visor Usuario</h1>
     <h2 class="col-md-5">Soy {{first_name}} {{last_name}}</h2>
     <h2 class="col-md-5">y mi email es {{email}}</h2>
     <h2 class="col-md-5">y mi id es {{id}}</h2>
     <button class="btn btn-link">
       <a href="http://localhost:3000/colapi/v1/users/{{id}}/accounts">Ver mis cuentas</a>
     </button>
   </div>
    <button type="button" name="button" class ="btn btn-success" onclick="consultarCliente">success</button>
    <button type="button" name="button" class ="btn btn-warning">warning</button>
    <button type="button" name="button" class ="btn btn-info">info</button>
    <button type="button" name="button" class ="btn btn-danger">danger</button>


</div>

    <iron-ajax
      id="myajax"
      method="get"
      auto=false
      url="http://localhost:3000/colapi/v1/users/{{id}}"
      handle-as="json"
      on-response="showData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponentDos extends Polymer.Element {
      static get is() { return 'component-dos'; }
      static get properties() {
        return {
          first_name: {
            type: String,
            value: 'wilson'
          },
          last_name: {
            type: String,
            value: 'amaya'
          },
          email: {
            type: String,
            value: 'jhsalkhsakh@lkjlkds.slkj'
          },id: {
            type: String,
            value: '5b0dcbf20135ed1d71147560'
          },
          password:{
            type: String,
            value:''
          },
          loading:{
            type:Boolean,
            value:false
          }
        };
      }
      submitLoginForm(event) {
        event.preventDefault();
        // get the values
            var object = {"email":this.email, "password":this.password};
            console.log(object);
            console.log(this.$.myajax);
            this.$.myajax.body=object;
            this.$.myajax.generateRequest();
        }
      consultarCliente(){
        this.id='5b0dcbf20135ed1d71147569';
        this.$.myajax.generateRequest();
      }
      showData(data){
       console.log("Recibidos datos del usuarios:");
 // mLab nos devuelve un array con el objeto solicitado por eso [0]
 //var resp = JSON.parse(data.detail.response);
       console.log(data.detail.response);
       console.log(data.detail.response.id);
  //     console.log(resp .first_name);
       console.log(data.detail.response.last_name);
       console.log(data.detail.response.email);


       //this.id = data.detail.response[0].id;
       this.first_name = data.detail.response.first_name;
       this.last_name = data.detail.response.last_name;
       this.email = data.detail.response.email;
     }
    };



    window.customElements.define(ComponentDos.is, ComponentDos);


  </script>
</dom-module>
