<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="colapi-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[name]]!</h2>
    <h2>tengo [[age]] años.</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ColapiApp extends Polymer.Element {
      static get is() { return 'colapi-app'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'wilson amaya'
          },
          age: {
            type: String,
            value: 30
          }
        };
      }
    }

    window.customElements.define(ColapiApp.is, ColapiApp);
  </script>
</dom-module>
